#row1
{
    height:140px;
}
#homeBody
{
    background: url('../images/ssImage2.jpeg') no-repeat center center fixed;
    background-size: cover;
    
}
table
{
    border: 1px solid #000000;
}
th{
    border:1px solid #000000;
    font-weight:bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
}
td{
    border: 1px solid #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}